@import 'settings';

.container-visualizer{
    background-color: $darker-white;
    border: 1px solid $darker-white;
    border-radius: $border-radius;
    padding: $padding-big;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: right;
   
    gap: $margin-small;
   
    margin: auto;

.container-map{
   box-shadow: $box-shadow-chart;
   border-radius: $border-radius;
   overflow: hidden;
   
}
    .container-plot{
        @extend .container-map;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        gap: $margin-small;
        max-width: 100%;
       
    }

    .container-card{
        background-color: $accent-color;
        color: $darker-white;       
        height: 15%;
        max-width: 75%;
        box-shadow: 0 4px 20px $accent-color;
        border-radius: $border-radius;
        padding: 0 $padding-small;
        
        span{
            font-size: 12px;
            color: $primary-color;
        }

        p{
            font-size: 32px;
            font-weight: bolder;;

        }

    }

    
    
}