@import 'settings';
.container-home{
   
    width: 95%;
    display: flex;
    // flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: auto;
   
    min-height: 100vh;


}
@include tablet{
    .container-home{
        flex-direction: column;
    }
}
@include mobile {
    .container-home{
        flex-direction: column;
    }
}