$body-bg-color: #f5f5f5;
$darker-white: #e5e5e5;
$accent-color: #C7672D;
$button-color: #efdacf;
$primary-color: #020202;
$border-radius: 8px;

// Breakpoints
$mobile-breakpoint: 438px;
$tablet-breakpoint: 900px;



$padding-big: 24px;
$margin-small: 12px;
$margin-tiny: 6px;
$padding-small: 4px;

$box-shadow: 0 4px 20px $accent-color;
$box-shadow-thin: 0 4px 5px rgba($accent-color, 0.5); 
$box-shadow-chart: 4px 4px 20px $primary-color;
// Media query mixins
@mixin mobile {
    @media (max-width: #{$mobile-breakpoint - 1px}) {
      @content;
    }
  }

// Mixin for tablet (between mobile-breakpoint and tablet-breakpoint)
@mixin tablet {
  @media (min-width: #{$mobile-breakpoint}) and (max-width: #{$tablet-breakpoint - 1px}) {
    @content;
  }
}

  
